/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  color: white;
  background-color: black;
  display: grid;
  gap: 16px;
  place-content: center;
  text-align: center;
}

#title {
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  color: transparent;
}

h1 {
  animation: hue 10s infinite linear;
}

@-webkit-keyframes hue{
  from{
    -webkit-filter: hue-rotate(0deg);
  }
  to{
    -webkit-filter: hue-rotate(-360deg);
  }
}