
/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  color: white;
  background-color: black;
  display: grid;
  gap: 16px;
  place-content: center;
  text-align: center;
}
